$mob-width: 601px;

.container {
  padding: 45px 20px 0 20px;
  background-color: blue;
  height: 500px;
  @media screen and (max-width: $mob-width) {
    height: calc(100vh - 250px);
  }
  @media screen and (max-device-width: $mob-width) and (-webkit-device-pixel-ratio: 3) {
    height: 100vh;
  }
}

.image_container {
  background-color: rgb(255, 0, 225);
  height: 100%;
  width: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  @media screen and (max-width: $mob-width) {
    padding-top: 2vh;
  }
  @media screen and (max-device-width: $mob-width) and (-webkit-device-pixel-ratio: 3) {
    padding-top: 2vh;
  }
}
