$mob-height: 551px;

.wrapper {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-height: $mob-height) {
    height: calc(100vh - 200px);
  }
}

.header_title {
  font-weight: 700;
  font-size: 26px;
  text-align: left;
  color: rgb(45, 50, 64);
}

.header_description {
  font-size: 17px;
  line-height: 22px;
  text-align: left;
  color: rgb(45, 50, 64);
  font-weight: 400;
  margin-bottom: 4px;
}

.form_wrapper {
  position: relative;
  margin: 40px 0px 16px;
}

.input_wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0px;
}

.input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 32px 52px 8px 16px;
  color: rgb(45, 50, 64);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  border-radius: 10px;
  border: 1px solid rgb(129, 132, 140);
  background-color: rgb(255, 255, 255);
  outline: none;
  transition: border 0.2s ease-out 0s;
}

.input_placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: rgb(129, 132, 140);
  font-size: 16px;
  transition-property: top, color, font-size, line-height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  pointer-events: none;
  cursor: text;
}

.kruWow {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 100%;
  max-height: 160px;
  padding: 0px 16px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(232, 232, 232) 0px 8px 20px;
  overflow-y: auto;
  z-index: 1;
}

.submit_button_wrapper {
  position: relative;
  padding: 40px 0px;
}

.toast {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100%;
  padding: 10px 16px 10px 48px;
  background-color: rgb(231, 76, 60);
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease-out 100ms;
}

.toast_content {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(253, 253, 255);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    width: 18px;
    height: 16px;
    background-image: url(/2acbbe2….png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.button {
  width: 100%;
  height: 50px;
  display: block;
  padding: 0px 15px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(255, 130, 118);
  border-radius: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-out 0s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/////////////

.input_body {
  --primary: 25, 91, 255;
  --color: 44, 62, 80;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  /*height: calc(var(--vh, 1vh) * 100);*/
  overflow: hidden;
  color: rgb(var(--color));
  width: 100%;
  height: 100px;
}
.con_input {
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.con_input {
  position: relative;
  display: flex;
  align-items: center;
  input {
    padding: 11px 15px;
    border-radius: 25px;
    border: 0px;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
    min-width: 250px;
  }
  input.valid ~ .icons .check {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  input.invalid ~ .icons .x {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  input:focus {
    transform: translate(0, -6px);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.09);
    padding-left: 20px;
  }
  input:focus ~ .icons {
    transform: translate(0, -6px);
  }
}

.icons {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 20px;
  height: 20px;
  transition: all 0.25s ease;
  i {
    position: absolute;
    transition: all 0.25s ease;
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
  }
}

.check {
  color: #3aba6f;
  text-shadow: 0px 5px 10px rgba(58, 186, 111, 0.3);
}
.x {
  color: rgb(240, 90, 92);
  text-shadow: 0px 5px 10px rgba(240, 90, 92, 0.3);
}
