.wrapper {
  height: calc(100vh - 270px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_description {
  font-size: 17px;
  line-height: 22px;
  text-align: left;
  color: rgb(45, 50, 64);
  font-weight: 400;
  margin-bottom: 4px;
}

.input {
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  background: #f8f8f8;
  padding: 16px;
  font-size: 17px;
  width: 100%;
  opacity: 0.5;
}

.input_error {
  border-radius: 10px;
  border: 1px solid red;
  background: #f8f8f8;
  padding: 16px;
  font-size: 17px;
  width: 100%;
  opacity: 0.5;
}
