$mob-width: 601px;

.main_wrapper {
  width: 360px;
  margin: 0px auto;
  @media screen and (max-width: $mob-width) {
    width: 100%;
  }
}

.gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 35%, #deeeff 65%);
  @media screen and (max-width: $mob-width) {
    height: 100vh;
  }
}
