.image {
  display: block;
  width: 261px;
  height: 282px;
  margin: 0 auto;
  margin-top: 100px;
  @media screen and (min-height: 844px) {
    width: 311px;
    height: 333px;
    margin-top: 120px;
  }
}
