.header {
  font-weight: 500;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(45, 50, 64);
  text-align: center;
  margin: 50px 0px 24px;
}

.image {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 428px;
  height: 314px;
  margin: 0 auto;
  // @media screen and (min-height: 844px) {
  //   width: 311px;
  //   height: 333px;
  //   margin-top: 100px;
  // }
  @media (min-width: 844px) {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    height: 314px;
  }
}
