.wrapper {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_title {
  font-weight: 700;
  font-size: 26px;
  text-align: left;
  color: rgb(45, 50, 64);
}

.header_description {
  font-size: 17px;
  line-height: 22px;
  text-align: left;
  color: rgb(45, 50, 64);
  font-weight: 400;
  margin-bottom: 4px;
}

.input {
  border-radius: 10px;
  border: 1px solid #D8D8D8;
  background: #F8F8F8;
  padding: 16px;
  font-size: 17px;
  width: 100%;
  opacity: 0.5;
}

.input_error {
  border-radius: 10px;
  border: 1px solid red;
  background: #F8F8F8;
  padding: 16px;
  font-size: 17px;
  width: 100%;
  opacity: 0.5;
}