.button {
  cursor: pointer;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  background: linear-gradient(91deg, #50aef1 0%, #506ef1 100%);
  width: 100%;
  padding: 16px 0;
  margin-bottom: 8px;
  overflow: hidden;
}

@keyframes pulseGradient {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pulse {
  position: absolute;
  animation: pulseGradient 0.7s ease-in-out infinite alternate;
  background: linear-gradient(91deg, #50d1f1 0%, rgb(49, 150, 244));
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  opacity: 1;
}
