$mob-width: 769px;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 560px;
  @media screen and (max-width: $mob-width) {
    height: 100%;
  }
}

.header_title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: left;
  color: rgb(45, 50, 64);

  padding: 0 15px;
}

.header_description {
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  color: rgb(45, 50, 64);
  font-weight: 400;
  margin: 0px 15px;
}

.wrapper_for_answers {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 40px 40px 0px 0px;
  padding: 20px 15px 20px 15px;
  z-index: 2;
}

.answers_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  cursor: pointer;
  display: block;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: auto;
  margin-bottom: 16px;
  pointer-events: auto;

  input {
    display: none;
  }
}

.label_text {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 60px;
  width: 100%;
  background: #f8f8f8;
  transition: background 0.25s ease 0s;

  font-size: 26px;
  font-weight: 700;
  padding: 15px 20px;
  background-color: #f8f8f8;
}

.answers_variant {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: rgb(45, 50, 64);
}

.input[type='radio'] {
  display: none;
  + .label_text {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 60px;
    width: 100%;
    background: #f8f8f8;
    transition: background 0.25s ease 0s;
    border-radius: 16px;
  }
  &:checked + .label_text {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 60px;
    color: white;
    width: 100%;
    background: linear-gradient(91deg, #50aef1 0%, #506ef1 100%);
    transition: background 0.25s ease 0s;
    border-radius: 16px;
  }
}