.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #e4e9f9;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_filled {
  background-color: #5072f1;
}

.btn_back {
  cursor: pointer;
  margin-right: 10px;
  &:hover {
    opacity: 0.5;
  }
}